* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

body {
	display: flex;
	justify-content: center;
	margin: 0;
}

/* NAVIGATION */

hr {
	border-top: 1px solid rgb(153, 153, 153, 1);
}

.nav-items {
	display: flex;
    justify-content: space-between;
    width: 30%;
    padding-top: 30px;
    height: 70px;
    align-content: center;
	align-items: center;
	margin-left: 5%;
}

#Work {
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(0,0,0,1);
}

#About_Me {
	text-decoration: none;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(100,100,100,1);
}

#About_Me:hover {
	color:black;
}

#Play {
	text-decoration: none;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(100,100,100,1);
}

#Play:hover {
	color:black;
}

/* HEADING */


.hello_section {
	display: flex;
    flex-direction: column;
    align-items: center;
}

#Heading {
    display: flex;
    margin-top: 140px;
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    color: rgba(0,0,0,1);
    justify-content: center;
}

#Heading span {
	margin-right: 30px;
}

#Introduction {
	text-align: center;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(0,0,0,1);
	margin-top: 50px;
	width: 90%;
}

#wave {
	width: 80px;
}

.contactImgs {
	display: flex;
    justify-content: space-evenly;
	width: 30%;
	margin-top: 50px;
}

#linkedin {
	width: 20px;
}

#youtube {
	width: 28.562px;
}

#envelope {
	width: 30.769px;
	
}

/* SAMPLE */

.content_section {
	display: flex;
	width: 100%;
	justify-content: center;
	margin: 0;
	margin-top: 150px;
}

.card {
	background-color: rgb(240, 240, 240);
    padding: 50px;
    height: 467px;
	width: 60%;
	display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#Title {
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
}

#Information {
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(100,100,100,1);
}

#Description {
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}

#View_More {
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
	text-decoration: underline;
}

#casa_barragan {
	margin-left: 10%;
	height: 357px;
}

.project {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 150px;
}
